@import url(https://fonts.googleapis.com/css?family=Roboto:400, 400i, 500|Rubik:500, \600);
html{scroll-behavior: smooth;}
body {
    line-height: 25px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #7b838a;
    
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: #002347;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}
button:focus {
    outline: none;
    box-shadow: none;
}
.mb-15 {
    margin-bottom: 15px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-25 {
    margin-top: 25px;
}
.title-bg {
    background: #002347;
}
.section_gap {
    padding: 130px 0;
}
@media (max-width: 991px) {
    .section_gap {
        padding: 70px 0;
    }
}
.section_gap_top {
    padding-top: 130px;
}
@media (max-width: 991px) {
    .section_gap_top {
        padding-top: 70px;
    }
}
.main_title {
    text-align: center;
    margin-bottom: 85px;
}
@media (max-width: 991px) {
    .main_title {
        margin-bottom: 40px;
    }
}
.main_title h2 {
    font-size: 56px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}
@media (max-width: 575px) {
    .main_title h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
}
.main_title p {
    font-size: 16px;
    margin-bottom: 0;
    font-style: italic;
}
.overlay {
    position: relative;
}
.overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    z-index: -1;
}
.header_area {
    position: absolute;
    width: 100%;
    z-index: 99;
    transition: background 0.4s, all 0.3s linear;
}
.header_area .navbar {
    background: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
}
.header_area .navbar .nav .nav-item {
    margin-right: 45px;
}
.header_area .navbar .nav .nav-item .nav-link {
    font: 500 14px/80px "Rubik", sans-serif;
    text-transform: capitalize;
    color: #002347;
    padding: 0;
    display: inline-block;
}
@media (max-width: 991px) {
    .header_area .navbar .nav .nav-item .nav-link {
        color: #fff;
    }
}
.header_area .navbar .nav .nav-item .nav-link:after {
    display: none;
}
.header_area .navbar .nav .nav-item:hover .nav-link,
.header_area .navbar .nav .nav-item.active .nav-link {
    color: #4682B4;
}
.header_area .navbar .nav .nav-item.submenu {
    position: relative;
}
.header_area .navbar .nav .nav-item.submenu ul {
    border: none;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    background: #fff;
}
@media (min-width: 992px) {
    .header_area .navbar .nav .nav-item.submenu ul {
        position: absolute;
        top: 120%;
        left: 0;
        min-width: 200px;
        text-align: left;
        opacity: 0;
        transition: all 300ms ease-in;
        visibility: hidden;
        display: block;
        border: none;
        padding: 0;
        border-radius: 0;
    }
}
.header_area .navbar .nav .nav-item.submenu ul:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #eee transparent transparent transparent;
    position: absolute;
    right: 24px;
    top: 45px;
    z-index: 3;
    opacity: 0;
    transition: all 400ms linear;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item {
    display: block;
    float: none;
    margin-right: 0;
    border-bottom: 1px solid #ededed;
    margin-left: 0;
    transition: all 0.4s linear;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
    line-height: 45px;
    color: #002347;
    padding: 0 30px;
    transition: all 150ms linear;
    display: block;
    margin-right: 0;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
    border-bottom: none;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
    background: #4682B4;
    color: #fff;
}
@media (min-width: 992px) {
    .header_area .navbar .nav .nav-item.submenu:hover ul {
        visibility: visible;
        opacity: 1;
        top: 100%;
    }
}
.header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
    margin-top: 0;
}
.header_area .navbar .nav .nav-item:last-child {
    margin-right: 0;
}
.header_area .navbar .search {
    font-size: 12px;
    line-height: 60px;
    display: inline-block;
    color: #002347;
}
.header_area .navbar .search i {
    font-weight: 600;
}
.header_area.white-header .navbar .nav .nav-item.active .nav-link,
.header_area.white-header .navbar .nav .nav-item:hover .nav-link {
    color: #4682B4;
}
.header_area.white-header .navbar .nav .nav-item .nav-link {
    color: #fff;
}
.header_area.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
    -ms-transform: translateY(70px);
    -o-transform: translateY(70px);
    transform: translateY(70px);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
}
.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 70px;
}
.header_area.navbar_fixed .main_menu .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
    color: #002347;
}
.header_area.white-header.navbar_fixed .main_menu {
    background: #002347;
}
.header_area.white-header.navbar_fixed .main_menu .navbar .nav .nav-item.active .nav-link,
.header_area.white-header.navbar_fixed .main_menu .navbar .nav .nav-item:hover .nav-link {
    color: #4682B4;
}
.home_banner_area {
    z-index: 1;
    min-height: 750px;
    position: relative;
    background: url(https://sk-21.github.io/Innovationclass/image/bg.png) no-repeat center;
    background-size: cover;
}
.home_banner_area .banner_inner {
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
}
@media (max-width: 991px) {
    .home_banner_area .banner_inner {
        top: 50%;
    }
}
.home_banner_area .banner_inner .banner_content h2 {
    font-size: 48px;
    font-weight: 500;
}
.home_banner_area .banner_inner .banner_content p {
    font-size: 20px;
    color: #002347;
    font-weight: 500;
}
.h_blog_item .col-lg-6 {
    vertical-align: middle;
    align-self: center;
}
.h_blog_item .h_blog_img {
    position: relative;
    z-index: 10;
}
.h_blog_item .h_blog_text {
    padding-top: 0;
    padding-bottom: 20px;
}
.h_blog_item .h_blog_text .h_blog_text_inner {
    background: #fff;
    padding: 75px 90px;
    border-radius: 10px;
}
@media (max-width: 991px) {
    .h_blog_item .h_blog_text .h_blog_text_inner {
        padding: 30px 15px;
    }
}
.h_blog_item .h_blog_text .h_blog_text_inner.left {
    position: relative;
    z-index: 2;
}
.h_blog_item .h_blog_text .h_blog_text_inner.right {
    margin-left: -104px;
    position: relative;
    z-index: 1;
    border: 10px solid #f9f9ff;
}
@media (max-width: 991px) {
    .h_blog_item .h_blog_text .h_blog_text_inner.right {
        margin-left: 0;
    }
}
.h_blog_item .h_blog_text .h_blog_text_inner h4 {
    color: #002347;
    font-size: 30px;
    margin-bottom: 15px;
}
.h_blog_item .h_blog_text .h_blog_text_inner p {
    margin-bottom: 30px;
}


.mapBox {
    height: 420px;
    margin-bottom: 80px;
}
.contact_info .info_item {
    position: relative;
    padding-left: 45px;
}
.contact_info .info_item i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    line-height: 24px;
    color: #002347;
    font-weight: 600;
}
.contact_info .info_item h6 {
    font-size: 16px;
    line-height: 24px;
    color: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 0;
    color: #002347;
}
.contact_info .info_item h6 a {
    color: #002347;
}
.contact_info .info_item p {
    font-size: 14px;
    line-height: 24px;
    padding: 2px 0;
}
.contact_form .form-group {
    margin-bottom: 10px;
}
.contact_form .form-group .form-control {
    line-height: 26px;
    color: #999;
    border: 1px solid #eee;
    font-family: "Roboto", sans-serif;
    border-radius: 0;
    padding-left: 20px;
}
.contact_form .form-group .form-control:focus {
    box-shadow: none;
    outline: none;
}
.contact_form .form-group .form-control.placeholder {
    color: #002347;
    font-size: 13px;
}
.contact_form .form-group .form-control:-moz-placeholder {
    color: #002347;
    font-size: 13px;
}
.contact_form .form-group .form-control::-moz-placeholder {
    color: #002347;
    font-size: 13px;
}
.contact_form .form-group .form-control::-webkit-input-placeholder {
    color: #002347;
    font-size: 13px;
}
.contact_form .form-group textarea {
    resize: none;
}
.contact_form .form-group textarea.form-control {
    height: 140px;
}
.contact_form .primary-btn {
    margin-top: 20px;
    cursor: pointer;
}

.link-border {
    background: transparent;
    border: 1px solid #4682B4;
    color: #4682B4;
}
.link-border:before {
    background: #4682B4;
}


.section-top-border {
    padding: 50px 0;
    border-top: 1px dotted #eee;
}



h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}

@media (max-width: 991px) {
    .left-align-p p {
        margin-top: 20px;
    }
}

.primary-btn2 {
    display: inline-block;
    background: #002347;
    padding: 0 48px;
    color: #4682B4;
    font-size: 13px;
    font-weight: 500;
    line-height: 48px;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none !important;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.primary-btn2:hover {
    background: transparent;
    color: #002347;
    border: 1px solid #002347;
}

@media (max-width: 1199px) {
    .header_area .navbar .nav .nav-item {
        margin-right: 28px;
    }
    .home_banner_area .banner_inner {
        padding: 100px 0;
    }
}
@media (max-width: 767px) {
    .home_banner_area .banner_inner {
        top:40%;
    }
}
@media (max-width: 991px) {
    .navbar-toggler {
        border: none;
        border-radius: 0;
        padding: 0;
        cursor: pointer;
        margin-top: 27px;
        margin-bottom: 23px;
    }
    .header_area {
        position: absolute;
    }
    .header_area .navbar {
        background: #002347;
        color:#fff;
    }
    .navbar-light .navbar-brand h3{
        color: rgba(255, 255, 255, 0.9);
    }
    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
        opacity: 1;
    }
    .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
        opacity: 0;
    }
    .navbar-toggler[aria-expanded="true"] span:first-child {
        transform: rotate(-45deg);
        position: relative;
        top: 7.5px;
    }
    .navbar-toggler[aria-expanded="true"] span:last-child {
        transform: rotate(45deg);
        bottom: 6px;
        position: relative;
    }
    .navbar-toggler span {
        display: block;
        width: 25px;
        height: 3px;
        background: #4682B4;
        margin: auto;
        margin-bottom: 4px;
        transition: all 400ms linear;
        cursor: pointer;
    }
    .navbar .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav {
        padding: 0 0;
    }
    .header_area + section,
    .header_area + row,
    .header_area + div {
        margin-top: 117px;
    }
    .header_area .navbar .nav .nav-item .nav-link {
        line-height: 40px;
        margin-right: 0;
        display: block;
        border-bottom: 1px solid #ededed33;
        border-radius: 0;
    }
    .header_area .navbar .search {
        margin-left: 0;
    }
    .header_area .navbar-collapse {
        max-height: 340px;
        overflow-y: scroll;
    }
    .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
        padding: 0 15px;
    }
    .header_area .navbar .nav .nav-item {
        margin-right: 0;
    }
    .header_area + section,
    .header_area + row,
    .header_area + div {
        margin-top: 0;
        padding-top: 71px;
    }
    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
        line-height: 40px;
    }
    .contact_info {
        margin-bottom: 50px;
    }
    .footer-area .col-sm-6 {
        margin-bottom: 30px;
    }
    .home_banner_area {
        min-height: 700px;
    }
}
@media (max-width: 767px) {
    .home_banner_area .banner_inner .banner_content {
        margin-top: 0;
    }
    .blog_info.text-right {
        text-align: left !important;
        margin-bottom: 10px;
    }
    .home_banner_area .banner_inner .banner_content h3 {
        font-size: 30px;
    }
    .home_banner_area .banner_inner .banner_content p br {
        display: none;
    }
    .home_banner_area .banner_inner .banner_content h3 span {
        line-height: 45px;
        padding-bottom: 0;
        padding-top: 0;
    }
    .footer-bottom {
        text-align: center;
    }
    .footer-bottom .footer-social {
        text-align: center;
        margin-top: 15px;
    }
}
@media (max-width: 575px) {
    .header_area + section,
    .header_area + row,
    .header_area + div {
        margin-top: 0;
        padding-top: 71px;
    }
    .home_banner_area .banner_inner .banner_content h2 {
        font-size: 40px;
        line-height: 44px;
    }
    .home_banner_area .banner_inner .banner_content img {
        display: none;
    }
    .home_banner_area .banner_inner .banner_content h5 {
        margin-top: 0;
    }
    .footer-area {
        padding: 70px 0;
    }
}
@media (max-width: 480px) {
    .header_area .navbar-collapse {
        max-height: 250px;
    }
    .home_banner_area .banner_inner .banner_content {
        margin-top: 0;
    }
    .home_banner_area .banner_inner .banner_content h3 {
        font-size: 24px;
    }

}
.footer-area {
    background: #002347;
}
@media (max-width: 991px) {
    .footer-area .single-footer-widget {
        margin-bottom: 30px;
    }
}
.footer-area .single-footer-widget h3 {
    color: #fff;
    margin-bottom: 45px;
}
@media (max-width: 1024px) {
    .footer-area .single-footer-widget h4 {
        font-size: 18px;
    }
}
@media (max-width: 991px) {
    .footer-area .single-footer-widget h4 {
        margin-bottom: 15px;
    }
}
.footer-area .single-footer-widget ul {
    padding-left: 0;
}
.footer-area .single-footer-widget ul li {
    margin-bottom: 15px;
    list-style: none;
}
.footer-area .single-footer-widget ul li a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #7b838a;
}
.footer-area .single-footer-widget ul li a:hover {
    color: #fff;
}
.footer-area .single-footer-widget .form-wrap {
    margin-top: 25px;
}
.footer-area .single-footer-widget input {
    height: 40px;
    border: none;
    width: 80% !important;
    font-weight: 300;
    background: #334f6c;
    color: #fff;
    border-radius: 0;
    font-size: 14px;
    padding: 10px;
    padding-left: 20px;
}
.footer-area .single-footer-widget input:focus {
    outline: none;
    box-shadow: none;
}
.footer-area .single-footer-widget .click-btn {
    background: #4682B4;
    background-size: 200% auto;
    color: #002347;
    border-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 8px 20px;
    margin-left: -60px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    border: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.footer-area .single-footer-widget .click-btn span {
    font-weight: 500;
}
.footer-area .single-footer-widget .click-btn:focus {
    outline: none;
    box-shadow: none;
}
.footer-area .single-footer-widget .click-btn:hover {
    background-position: right center;
}
.footer-area .footer-bottom {
    margin-top: 50px;
}
@media (max-width: 991px) {
    .footer-area .footer-bottom {
        margin-top: 20px;
    }
}
.footer-area .footer-bottom a {
    color: #4682B4;
}
.footer-area .footer-bottom .footer-social {
    text-align: right;
}
.footer-area .footer-bottom .footer-social a {
    background: #334f6c;
    width: 20px;
    width: 40px;
    display: inline-table;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.footer-area .footer-bottom .footer-social a:hover {
    background: #4682B4;
}
.footer-area .footer-bottom .footer-social a:hover i {
    color: #002347;
}
.footer-area .footer-bottom .footer-social i {
    color: #ccc;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
@media (max-width: 991px) {
    .footer-area .footer-bottom .footer-social {
        text-align: left;
        margin-top: 20px;
    }
}



.gallery_area {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 1%;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 15px;
  }
  
  .gallery img {
    width: 100%;
  }
  @media (max-width: 991px) {
  
    .gallery_area {
    padding: 50px 15px;
  }
    .gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
  }
  }
  
  
  
  
  .image-holder {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
  
  }
  
  
  .col {
    display: flex;
    justify-content: center;
  
  }
  
  .flip-card {
  
    width: 300px;
    min-height: 400px;
  }
  
  .flip-card-front{
    
    box-shadow: 5px 5px 25px rgb(145, 143, 143);
  
    
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    text-align: center;
    /* transition: transform 0.6s; */
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    max-height: 100px;
    transform-style: preserve-3d;
    transition: .8s .2s;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    background-color: white;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    max-height: 300px;
    border-radius: 24px;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .flip-card::-webkit-scrollbar {
    display: none;
  }
  
  .img-body{
    border-radius: 24px;
    width: 330px;
      height: 330px;
  }
  
  .flip-card-back {
    background-color: #002347;
    min-height: 340px;
    color: white;
    transform: rotateY(180deg);
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    overflow-y: scroll; /* Hide vertical scrollbar */
    overflow-x: hidden;
    
  }
  .flip-card-front h3{
    margin-top:10px;
  }
  .msg{
    padding:0 15px;
    text-align: justify;
  }
  .rank{
    font-weight: bold;
    line-height: 19px
  }
  
  
